## Imputation

In [25]:
import pandas as pd
import numpy as np

Importing and showing dataset

In [26]:
data = pd.read_csv('basic_data.csv')
data.head()

   Country   Age   Salary
0   Poland  34.0  72000.0
1    Spain  42.0  48000.0
2  Germany  29.0  54000.0
3    Spain  38.0  61000.0
4  Germany  32.0      NaN

In [27]:
columns = ['Country', 'Age', 'Salary']
null_values = []

for column in columns:
    for i in range(len(data[column])):
        if pd.isna(data[column][i]):
            print(data[column][i])

nan
nan
nan
nan
nan
nan
nan