In [25]:
import pandas as pd

In [26]:
main_path = '/Users/alechiquito/Documents/osic_db/'

In [27]:
sample = pd.read_csv(f'{main_path}/sample_submission.csv')
sample.head()

                    Patient_Week   FVC  Confidence
0  ID00419637202311204720264_-12  2000         100
1  ID00421637202311550012437_-12  2000         100
2  ID00422637202311677017371_-12  2000         100
3  ID00423637202312137826377_-12  2000         100
4  ID00426637202313170790466_-12  2000         100

In [28]:
sample.describe()

          FVC  Confidence
count   730.0       730.0
mean   2000.0       100.0
std       0.0         0.0
min    2000.0       100.0
25%    2000.0       100.0
50%    2000.0       100.0
75%    2000.0       100.0
max    2000.0       100.0

In [29]:
train_data = pd.read_csv(f'{main_path}/train.csv')
train_data.head()

                     Patient  Weeks   FVC    Percent  Age   Sex SmokingStatus
0  ID00007637202177411956430     -4  2315  58.253649   79  Male     Ex-smoker
1  ID00007637202177411956430      5  2214  55.712129   79  Male     Ex-smoker
2  ID00007637202177411956430      7  2061  51.862104   79  Male     Ex-smoker
3  ID00007637202177411956430      9  2144  53.950679   79  Male     Ex-smoker
4  ID00007637202177411956430     11  2069  52.063412   79  Male     Ex-smoker

In [30]:
train_data.describe()

             Weeks          FVC      Percent          Age
count  1549.000000  1549.000000  1549.000000  1549.000000
mean     31.861846  2690.479019    77.672654    67.188509
std      23.247550   832.770959    19.823261     7.057395
min      -5.000000   827.000000    28.877577    49.000000
25%      12.000000  2109.000000    62.832700    63.000000
50%      28.000000  2641.000000    75.676937    68.000000
75%      47.000000  3171.000000    88.621065    72.000000
max     133.000000  6399.000000   153.145378    88.000000

In [31]:
train_fvc = train_data['Percent']
max(train_fvc)

153.1453778