# Prediction of pulmonary hypertension in patients with fibrosis #

## Importing data ##

In [16]:
import pandas as pd
import numpy as np
main_path = '/Users/alechiquito/Documents/osic_db/'

## Presenting informaction of the dataset ##

In [17]:
train_data = pd.read_csv(f'{main_path}/train.csv')
train_data.head()

                     Patient  Weeks   FVC    Percent  Age   Sex SmokingStatus
0  ID00007637202177411956430     -4  2315  58.253649   79  Male     Ex-smoker
1  ID00007637202177411956430      5  2214  55.712129   79  Male     Ex-smoker
2  ID00007637202177411956430      7  2061  51.862104   79  Male     Ex-smoker
3  ID00007637202177411956430      9  2144  53.950679   79  Male     Ex-smoker
4  ID00007637202177411956430     11  2069  52.063412   79  Male     Ex-smoker

In [18]:
train_data.describe()

             Weeks          FVC      Percent          Age
count  1549.000000  1549.000000  1549.000000  1549.000000
mean     31.861846  2690.479019    77.672654    67.188509
std      23.247550   832.770959    19.823261     7.057395
min      -5.000000   827.000000    28.877577    49.000000
25%      12.000000  2109.000000    62.832700    63.000000
50%      28.000000  2641.000000    75.676937    68.000000
75%      47.000000  3171.000000    88.621065    72.000000
max     133.000000  6399.000000   153.145378    88.000000

In [19]:
size_data = np.shape(train_data)
size_data[0]

1549

In [20]:
train_data['Age']

0       79
1       79
2       79
3       79
4       79
        ..
1544    73
1545    73
1546    73
1547    73
1548    73
Name: Age, Length: 1549, dtype: int64

In [22]:
train_data['Age']

0       79
1       79
2       79
3       79
4       79
        ..
1544    73
1545    73
1546    73
1547    73
1548    73
Name: Age, Length: 1549, dtype: int64

## Descriptive Statistic ##

In [23]:
import matplotlib.pylab as plt

plt.scatter(train_data['Age'], size_data,marker ="o")
plt.show

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'