## Métricas

In [232]:
import pandas as pd
import numpy as np

In [233]:
data = pd.read_csv('Nasdaq.csv')
data.head(10)

         Date Close/Last    Volume     Open     High      Low
0  12/02/2022    $105.05   7916878  $102.02  $105.54  $101.82
1  12/01/2022    $103.37   7452313  $102.33  $103.56  $101.95
2  11/30/2022     $102.2  15000770   $99.05  $102.56   $98.52
3  11/29/2022     $98.66   4423921   $98.96   $99.33    $98.2
4  11/28/2022     $98.66   5257862   $98.99  $100.16   $98.56
5  11/25/2022     $99.56   2320020   $99.64   $99.88   $98.52
6  11/23/2022     $99.52   5944870   $98.49  $100.08   $98.27
7  11/22/2022     $98.43   5399030    $98.5   $98.73   $97.52
8  11/21/2022     $98.32   4499170   $96.99  $98.485    $96.7
9  11/18/2022     $97.95   5964815   $97.75   $98.35   $97.13

### 4 de 5 columnas son tipo númericas pero de tipo string, hay que limpiar los datos

In [234]:
data.describe()

             Volume
count  1.260000e+02
mean   7.464839e+06
std    3.226886e+06
min    2.320020e+06
25%    5.492600e+06
50%    6.754317e+06
75%    8.292026e+06
max    2.432060e+07

### Se quita el signo de pesos de todas las columnas.

In [235]:
for colum in data:
    if colum != 'Volume':
        data[colum] = data[colum].apply(lambda x: x.replace('$',''))

data.head(10)

         Date Close/Last    Volume    Open    High     Low
0  12/02/2022     105.05   7916878  102.02  105.54  101.82
1  12/01/2022     103.37   7452313  102.33  103.56  101.95
2  11/30/2022      102.2  15000770   99.05  102.56   98.52
3  11/29/2022      98.66   4423921   98.96   99.33    98.2
4  11/28/2022      98.66   5257862   98.99  100.16   98.56
5  11/25/2022      99.56   2320020   99.64   99.88   98.52
6  11/23/2022      99.52   5944870   98.49  100.08   98.27
7  11/22/2022      98.43   5399030    98.5   98.73   97.52
8  11/21/2022      98.32   4499170   96.99  98.485    96.7
9  11/18/2022      97.95   5964815   97.75   98.35   97.13

### Todas las columnas se pasan a tipo float

In [236]:
data['Close/Last'] = data['Open'].astype(float)
data['Open'] = data['Open'].astype(float)
data['High'] = data['Open'].astype(float)
data['Low'] = data['Open'].astype(float)

### No se tienen datos faltantes

In [237]:
data.isnull().sum()

Date          0
Close/Last    0
Volume        0
Open          0
High          0
Low           0
dtype: int64

### Regresión lineal mútilple

Y = Close/Last

In [238]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [239]:
y = data['Close/Last']

x = data.drop('Date',axis=1)
x = x.drop('Close/Last',axis=1)
x

       Volume    Open    High     Low
0     7916878  102.02  102.02  102.02
1     7452313  102.33  102.33  102.33
2    15000770   99.05   99.05   99.05
3     4423921   98.96   98.96   98.96
4     5257862   98.99   98.99   98.99
..        ...     ...     ...     ...
121   8695476   77.02   77.02   77.02
122  13248100   77.97   77.97   77.97
123   5178253   78.90   78.90   78.90
124   5517101   78.57   78.57   78.57
125   7239429   79.70   79.70   79.70

[126 rows x 4 columns]

In [240]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.7, random_state=42)

In [241]:
model = linear_model.LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [242]:
y_pred = model.predict(x_test)
y_pred

array([ 87.77 ,  91.98 ,  71.08 ,  83.2  ,  82.95 ,  88.11 ,  88.385,
        90.885,  72.43 ,  86.565,  98.99 ,  78.81 ,  87.   ,  80.03 ,
        87.305,  91.67 ,  81.215,  95.21 ,  92.09 ,  96.52 ,  86.81 ,
        85.61 ,  88.78 , 102.02 ,  89.565,  90.19 ,  87.51 ,  98.91 ,
        78.39 ,  78.57 ,  84.1  ,  85.17 ,  85.97 ,  76.21 ,  78.9  ,
        93.89 ,  81.11 ,  88.06 ,  87.09 ,  83.07 ,  73.06 ,  87.33 ,
        83.87 ,  82.48 ,  97.75 ,  87.9  ,  83.7  ,  86.13 ,  73.855,
        86.9  ,  86.5  ,  83.19 ,  99.64 ,  84.18 ,  73.09 ,  88.54 ,
        83.9  ,  85.09 ,  91.605,  86.35 ,  90.01 ,  85.76 ,  98.5  ,
        72.85 ,  84.75 ,  84.76 ,  78.36 ,  77.02 ,  96.99 ,  97.13 ,
        84.16 ,  98.96 ,  90.92 ,  87.01 ,  85.382,  78.615,  98.49 ,
        85.74 ,  76.01 ,  75.986,  91.15 ,  88.   ,  87.21 ,  84.68 ,
        86.01 ,  85.11 ,  77.97 ,  86.94 ,  78.   ])

In [243]:
print(y_pred.shape[0])
print(y_test.shape[0])

89
89

In [244]:
y_pred, y_test = np.array(y_pred), np.array(y_test)

### Métricas

## MSE

In [245]:
from sklearn.metrics import mean_squared_error
mse = 0
def mean_square_error_manual(y_pred, y_test):
    return np.square(np.subtract(y_pred, y_test)).mean()
    
    
mse = mean_square_error_manual(y_pred,y_test)
print("Mean Square error manual: ", mse)
print("Mean Square error function: ", mean_squared_error(y_test,y_pred))

Mean Square error manual:  2.269083053219989e-29
Mean Square error function:  2.269083053219989e-29

## RMSE

In [246]:
from sklearn.metrics import mean_squared_error
import math 
rmse = 0
def mean_square_error_manual(y_pred, y_test):
    return np.sqrt(np.square(np.subtract(y_pred, y_test)).mean())
    
    
rmse = mean_square_error_manual(y_pred,y_test)
print("Root Mean Square error manual: ", rmse)
print("Root Mean Square error function: ", np.sqrt(mean_squared_error(y_test,y_pred)))

Root Mean Square error manual:  4.763489323195749e-15
Root Mean Square error function:  4.763489323195749e-15

## MAE

In [247]:
from sklearn.metrics import mean_absolute_error
mae = 0
def mean_absolute_error_manual(y_pred, y_test):
    return abs(np.subtract(y_pred, y_test)).mean()
    
    
mae = mean_absolute_error_manual(y_pred,y_test)
print("Mean Absolute Error  manual: ", mae)
print("Mean Absolute Error function: ", (mean_absolute_error_manual(y_test,y_pred)))

Mean Absolute Error  manual:  1.5967252488991015e-15
Mean Absolute Error function:  1.5967252488991015e-15

## R2 Score

In [250]:
from sklearn.metrics import r2_score

def r2_score_manual(y_pred, y_test):
    y_temp = y_test.mean()
    ss_total = ((y_test - y_temp) **2 ).sum()
    ss_res = ((y_test - y_pred) **2 ).sum()
    return (1 - (ss_res / ss_total))
    
    
r2_score_m = r2_score_manual(y_pred,y_test)
print("R2 Score manual: ", r2_score_m)
print("R2 Score function: ", (r2_score(y_test,y_pred)))

R2 Score manual:  1.0
R2 Score function:  1.0